
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";
#footer {
   background-color: #473F49;
   color: white;
   text-decoration-color: white;
   text-align: center;
   padding: 20px;
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
}
#foo
{
	text-align: right;
	color: green;
	text-decoration-color: green;
}

.admin_color{color: white;
	font-size: 15px}
 span.status {
 	display: block;
 	 width: 15px;
 	  height: 15px;
 	   margin: 0.25em;
 	   padding: 10;
 	   border:1px solid #000000;
 	}
    
  span.status.true {
  	background: green;
  	 color:green;
  	}
    span.status.false{
    	background: red;
    	color:red;
    }  
 .field_with_errors 
 {
 	label {color: #AA0000;}
 	input {border: 1px solid red;}
 }
.head
{
	position: relative;
	height: 130px;
}
#error-explanation
{
	width: 400px;
	padding: 0; margin: 0 auto 1.5em;
	border: 1px solid #AA0000;
	background-color: #FFFFFF;
	font-size: 12px;
	h2{
		font-weight: bold;
		font-size: 12px;
		padding: 5px 5px 5px 15px; margin: 0;
		width: 380px;
		background-color: #AA0000; color: #FFFFFF;
	}
	p{
		color: #333333;
		margin:0; padding: 3px 0.5em;
	}
	ul{margin-top: 0;}
	ul li{list-style: square;}
	
}

.adm{
	color: black;

}
.fullscreen
{
	position: fixed;
	background-color: white;
	overflow: auto;
    top:35%;
    left: 0;
    bottom: 0;
    right: 0; 
}

.tb_header{
	color: #3F1448;
}


html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/d/c/9/57345.jpg#.X02XKGlBcpU.link');
background-size: cover;
background-repeat: no-repeat;
color: #BFA91C;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card_section{
height: 900px;
margin-top: auto;
margin-bottom: auto;
width: 1100px;
background-color: rgba(0,0,0,0.5) !important;
}
.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
